/************************
*******Effect Styles*****
************************/

// Selector for text boxes with placeholders
.ghost {
        color: #C0C0C0;
        font-size: 30px;
}

.button {
        color: white;
        display: inline;
        text-decoration: none;
        background-color: red;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
}

