/*******************************
********Mobile styles***********
*******************************/

@media (max-width: 320px) {
        ul li {
                display: block;
                list-style-type: none;
        }

        li {
                list-style-type: none;
        }

        ul {
                list-style: none;
                margin: 0;
                padding: 0;
                width: 100%;
        }

        .button {
                background-color: red;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                width: 80%;
        }

}

@media (min-width: 1025px) {
        ul li {
                display: inline;
                list-style-type: none;
        }

        li {
                list-style-type: none;
        }

        ul {
                margin: 0;
                padding: 0;
        }

}
          
