@import "effect.css";
@import "form.css";
@import "media.css";
@import "paragraph.css";
@import "table.css";

* {
	font-family: Arial, Helvetica, sans-serif;
}

// Selector for all elements except logo header and body
:not(nav) {
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}


body {
	background-image: url("../images/bg.png");
	background-size: 100% 100%;
}

