
* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
background: '#D0D0D0';
}

nav > a > ul .button {
	display: inline;
	text-decoration: none;
	background-color: black;
	color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

form {
	display: block;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
//	width: 75%;
}

.button {
	padding: 5px;
	color: white;
	background: black;
	background-color: black;
	//max-width: 200px;
}

table {
//	margin-left: 10%;
	margin-right: auto;
	width: 60%;
}


.ghost {
	color: #C0C0C0;
	font-size: 30px;
}

input {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

td {
	width: 50%;
}

.formContainer {
//	margin-left: auto;
//	margin-right: auto;
	margin-left: 10%;
	width: 75%;
}

#logonForm {
	margin-left: 30%;
	width: 60%;	
}

#logonForm * {
	font-size: 50px;
}

select {
	font-size: 24px;
	width: 100%;
}
